@include "https://seetee.github.io/bp/reset/main.css";
@import "https://unpkg.com/open-props";

/* Typography */

h1, h2, h3, h4, h5, h6, p, ul {
  margin-block: 0;
  margin-inline: 0;
}

h1 {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-00);
}

h2 {
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-9);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-00);
  max-width: 75vw;
  border-block-end: var(--border-size-1) solid var(--blue-11);
  margin-block-end: var(--size-fluid-3);
  color: var(--blue-11);
  text-align: right;
}

h3, h4, h5, h6 {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-2);
  font-family: var(--font-rounded-sans);
  line-height: var(--font-lineheight-00); 
  margin-block: var(--size-fluid-2) var(--size-fluid-1);
}

p, ul {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-4);
  font-family: var(--font-humanist);
  line-height: var(--font-lineheight-3);  
  max-inline-size: var(--size-content-3);
  margin-block-end: var(--size-fluid-2);
}

/* Theming */

body {
  background: var(--stone-2);
  margin-block: var(--size-fluid-1);
  margin-inline: var(--size-fluid-1);
}

a {
  color: var(--orange-8); 
  cursor: pointer;
}

a:not(:link) {
  text-decoration: none; 
}

a:not(:local-link) {
  background: purple;
}

:target {
  background: var(--orange-8);
  outline: 2px solid var(--blue-12);
}



/* Layout */

img {
  max-width: 100%;
}

